	body{
		background: #f7f7f7;
	}
	
	.timage{
		
		border: 5px solid #2B57CD;
		border-radius: 50%;
	}
	
	#title, .subtitle, .ptitle{
		color: #505050;
	}
	

	}	
	.ptitle{
		font-size: 16px;
		font-style: italic;
		margin: 0;
		margin-bottom: 15px;
	}

	.post{
		background: #fff	;
		padding:15px;
		border: 3px solid #505050;
		margin-bottom: 15px;	
		border-radius:5px;	
	}
		
	.pcontent{
		margin: 0;
		margin-bottom: 15px
	}

	.pimage{
		margin-bottom:15px;
	}	